body{
  margin: auto;
  width:100%;
  font-family: 'Montserrat', sans-serif;
  background:lightblue;
  
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-around;

  
}

button{
  color:white;
  background: black;
  border:none;
  padding: 1em 2em;
  font-size: 1.15rem;
  position: absolute;
  bottom:2em;
  left: 2em;
  font-family: inherit;
  text-transform: uppercase;
  transition: 200ms;
  
}

button:hover, 
button:focus {
  transform: scale(1.1);
  font-weight: 600;
  
}

.viewer{
  width:100%;
  height:100vh;
  border: none;
}